name: calculator
description: "A Flutter calculator app."
publish_to: 'none'

version: 1.1.0+2

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter
  math_expressions: ^2.1.0
  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
  flutter_launcher_icons: ^0.13.1

flutter:
  uses-material-design: true

flutter_launcher_icons:
  android: true
  ios: false
  image_path: assets/icon/app_icon.png
